@page "/privacidade"
@{
ViewData["Title"] = "Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>A sua privacidade é importante para nós. Esta Política de Privacidade explica como coletamos, usamos, divulgamos e
    protegemos as informações pessoais que você nos fornece ao usar nosso site e serviços.</p>

<h2>Informações que Coletamos</h2>

<p>Ao usar nosso site, podemos coletar as seguintes informações:</p>

<ul>
    <li>Informações de contato, como nome, endereço de e-mail e número de telefone.</li>
    <li>Informações de pagamento para processar suas compras, como detalhes do cartão de crédito.</li>
    <li>Informações de navegação, como endereço IP, tipo de navegador, páginas visitadas e horários de acesso.</li>
    <li>Outras informações que você nos fornece ao preencher formulários ou interagir conosco.</li>
</ul>

<h2>Como Usamos Suas Informações</h2>

<p>Utilizamos suas informações para:</p>

<ul>
    <li>Processar suas compras e fornecer os produtos e serviços que você solicitou.</li>
    <li>Personalizar sua experiência de compra e fornecer recomendações relevantes.</li>
    <li>Comunicar-nos com você sobre pedidos, promoções e atualizações.</li>
    <li>Melhorar nosso site e serviços, incluindo análises de dados e pesquisas de mercado.</li>
    <li>Garantir a segurança e a integridade do nosso site e negócio.</li>
</ul>

<h2>Compartilhamento de Informações</h2>

<p>Não compartilhamos suas informações pessoais com terceiros sem o seu consentimento, exceto em circunstâncias
    específicas, como cumprir com a lei ou proteger nossos direitos legais.</p>

<h2>Segurança das Informações</h2>

<p>Tomamos medidas rigorosas para proteger suas informações contra acesso não autorizado, alteração, divulgação ou
    destruição. Utilizamos protocolos de segurança padrão do setor e mantemos procedimentos de segurança física e
    eletrônica.</p>

<h2>Seus Direitos e Escolhas</h2>

<p>Você tem o direito de acessar, corrigir ou excluir suas informações pessoais a qualquer momento. Além disso, você
    pode optar por não receber comunicações de marketing a qualquer momento.</p>

<h2>Alterações nesta Política de Privacidade</h2>

<p>Podemos atualizar esta Política de Privacidade periodicamente para refletir mudanças em nossas práticas de
    privacidade. Recomendamos que você reveja esta página regularmente para estar ciente das atualizações.</p>

<h2>Como Entrar em Contato Conosco</h2>

<p>Se você tiver alguma dúvida sobre esta Política de Privacidade ou sobre como lidamos com suas informações, entre em
    contato conosco através do e-mail <a href="mailto:seu@email.com">seu@email.com</a>.</p>
